<div class="container">
    <form class="form-small">
        {{#if loading}}
            <div class="loading"></div>
            <div class="progress progress-striped active">
                <div class="bar" style="width: 20%;"></div>
            </div>
        {{else}}
            <div class="progress progress-striped">
                <div class="bar" style="width: 20%;"></div>
            </div>
        {{/if}}
        <h3 class="form-small-heading">
            Target Process poker game
            <button class="btn btn-small pull-right" type="button" data-toggle="button" onclick="$(this).parents('form').find('.help').toggle();" data-loading-text="Loading...">Help me <i class="icon-user"></i></button>
        </h3>

        {{#view Ember.RadioButtonGroup name="role" selectedValueBinding=role}}{{/view}}

        <label class="radio">
            {{view Ember.RadioButton groupBinding="Ember.RadioButtonGroup_role" value="developer"}}
            Developer
        </label>
        <div class="well">
            <p class="text-info">You do not need privileges for Target Process in order to play the poker game.</p>
        </div>

        <label class="radio">
            {{view Ember.RadioButton groupBinding="Ember.RadioButtonGroup_role" value="moderator"}}
            Moderator
        </label>

        <div class="well">
            <p>Please specify the Target Process application URL:</p>
            {{view Ember.TextField class="input-block-level" placeholder="Target Process URL" valueBinding=url disabledBinding=isNotModerator}}
            <p class="text-info">You have to be logged in to Target Process before you can use this Hangout application.</p>
            {{#if lastLoadingError}}
                <div class="alert alert-block alert-error fade in">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <p class="text-error">The following error occurred while trying to use Target Process REST API: <b>{{lastLoadingError}}</b>. Please double check that you have entered the correct URL of the Target Process application and that you are logged in on it.</p>
                </div>
            {{/if}}
        </div>

        <button class="btn btn-large btn-primary" type="submit" {{action create href=true}} data-loading-text="Loading...">Start</button>
        <div class="help well">
            <p>Hello world!</p>
        </div>

    </form>

</div> <!-- /container -->